@model ReviewApp.Models.Review

@{
    ViewData["Title"] = "Delete";
}

<h1>Izbriši</h1>

<h3>Jeste li sigurni da želite izbrisati odabranu recenziju ?</h3>
<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Izbriši" class="btn btn-danger" />
        <a asp-action="Index">Povratak na recenzije</a>
    </form>
</div>
